<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hospital Name - Facility</title>
</head>
<body> <main>
<section class="facility" id="facility">
  <div class="container">
       <b><h1 class="heading"><span>'</span> Our Facilities <span>'</span></h1></b>
         <div class="box-container">
      <div class="box" data-aos="zoom-in">
        <a
          href="https://cdn.pixabay.com/photo/2021/10/11/17/37/doctor-6701410__340.jpg"
          title="our team"
        >
          <img
            src="https://cdn.pixabay.com/photo/2021/10/11/17/37/doctor-6701410__340.jpg"
            alt=""
          />
        </a>
      </div>

      <div class="box" data-aos="zoom-in">
        <a
          href="https://cdn.pixabay.com/photo/2014/12/10/21/01/doctor-563429__340.jpg"
          title="our lab"
        >
          <img
            src="https://cdn.pixabay.com/photo/2014/12/10/21/01/doctor-563429__340.jpg"
            alt=""
          />
        </a>
      </div>

      <div class="box" data-aos="zoom-in">
        <a
          href="https://cdn.pixabay.com/photo/2016/11/14/03/05/surgery-1822458__340.jpg"
          title="emergency rooms"
        >
          <img
            src="https://cdn.pixabay.com/photo/2016/11/14/03/05/surgery-1822458__340.jpg"
            alt=""
          />
        </a>
      </div>

      <div class="box" data-aos="zoom-in">
        <a
          href="https://cdn.pixabay.com/photo/2017/10/04/09/56/laboratory-2815641__340.jpg"
          title="expert doctors"
        >
          <img
            src="https://cdn.pixabay.com/photo/2017/10/04/09/56/laboratory-2815641__340.jpg"
            alt=""
          />
        </a>
      </div>

      <div class="box" data-aos="zoom-in">
        <a
          href="https://cdn.pixabay.com/photo/2019/08/13/08/15/adult-4402808__340.jpg"
          title="expert doctors"
        >
          <img
            src="https://cdn.pixabay.com/photo/2019/08/13/08/15/adult-4402808__340.jpg"
            alt=""
          />
        </a>
      </div>

      <div class="box" data-aos="zoom-in">
        <a
          href="https://cdn.pixabay.com/photo/2019/06/17/17/57/stethoscope-4280497__340.jpg"
          title="emergency rooms"
        >
          <img
            src="https://cdn.pixabay.com/photo/2019/06/17/17/57/stethoscope-4280497__340.jpg"
            alt=""
          />
        </a>
      </div>

      <div class="box" data-aos="zoom-in">
        <a
          href="https://cdn.pixabay.com/photo/2019/04/03/03/06/medical-equipment-4099432__340.jpg"
          title="expert doctors"
        >
          <img
            src="https://cdn.pixabay.com/photo/2019/04/03/03/06/medical-equipment-4099432__340.jpg"
            alt=""
          />
        </a>
      </div>

      <div class="box" data-aos="zoom-in">
        <a
          href="https://cdn.pixabay.com/photo/2013/02/09/04/15/doctor-79579__340.jpg"
          title="emergency rooms"
        >
          <img
            src="https://cdn.pixabay.com/photo/2013/02/09/04/15/doctor-79579__340.jpg"
            alt=""
          />
        </a>
      </div>

      <div class="box" data-aos="zoom-in">
        <a
          href="https://cdn.pixabay.com/photo/2013/02/10/23/22/bethesda-naval-medical-center-80380__340.jpg"
          title="enough beds"
        >
          <img
            src="https://cdn.pixabay.com/photo/2013/02/10/23/22/bethesda-naval-medical-center-80380__340.jpg"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</section>
</main>
</body>
</html> 






<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hospital Name - Services</title>
 
</head>
<body>

  <main>
    <section id="services">
      <div class="container">
        <h1>Our Services</h1>
        <p>Welcome to City Hospital , where we are committed to providing exceptional medical care across a wide range of specialties. Our dedicated team of doctors and staff is here to meet your healthcare needs. Explore our services below:</p>

       
        <div class="service-category">
          <h2>Cardiology</h2>
          <ul>
            <li>Cardiac consultations and diagnostics</li>
            <li>Interventional cardiology</li>
            <li>Cardiac surgeries</li>
            <li>Electrophysiology</li>
         
          </ul>
        </div>

        <div class="service-category">
          <h2>Oncology</h2>
          <ul>
            <li>Chemotherapy and radiation therapy</li>
            <li>Surgical oncology</li>
            <li>Immunotherapy</li>
            <li>Palliative care</li>
           
          </ul>
        </div>

        <div class="service-category">
          <h2>Orthopedics</h2>
          <ul>
            <li>Joint replacements</li>
            <li>Spinal surgeries</li>
            <li>Sports medicine</li>
            <li>Orthopedic rehabilitation</li>
       
          </ul>
        </div>

      

      </div>
    </section>-->

